body{
    background: #f2f2f2;
}
.content{
    background: #ffff;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #dfdfdf;
    border-radius: 1px;
    padding-bottom: 20px;
}
.article{
    margin-top: 40px;
    padding-bottom: 20px;
}
.breadcrumb{
    padding: 8px 15px;
    margin-bottom: -2px;
    list-style: none;
    background-color: #d9d9d9;
    border-radius: 4px;
}
footer{
    background: #cccc;
    padding-top: 20px;
}
.textarea{
    margin-top: 10px;
    color: #2a2e2e;
    cursor: text;
    resize: none;
    border: 1;
    display: block;
    padding: 6px 10px 8px;
    margin: 0;
    width: 100%;
    min-height: 44px;
    height: auto;
    line-height: 1.4;
    font-size: 14px;
    font-family: "Helvetica Neue",arial,sans-serif;
    overflow-y: scroll;
    transition: all .15s ease-in-out;
}
.btn{
    margin-top: 10px;
}