.nav-link{
    font-size: 17px;
}
.nav-icon{
    font-size: 19px;
}

.btn{
    background-color: #ffff;

}
.bodyContent{
    padding-top: 10px;
}

body{
    background-color: #dfdfdf;
}
.jumbotron{
    padding-top: 100px;
}
.background{
    background-color: #ffff;
    top: -70px;
    position: relative;
    box-shadow: 0 0 10px #dfdfdf;
    border-radius: 10px;
    padding-bottom: 20px;
}
.card{
    border-style: none;
    background: transparent;
}
.padding{
    padding-top: 10px;
}
.cardus{
    position: left;
}

#content{
    float: left;
}
.side-line .card-deck{
    border-left: 22px #000;
}

.jarak{
    padding: 5px;
    margin-top: 20px;

}

.icon-nav{
    float: right;
    size: 20px; 
}
.artikel-body {
    padding-top: 20px;  
    padding-bottom: 20px;
}
.article-nav{
    margin-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
}

#myTab{
    padding-left: 0px;
    margin-top: 20px;
    list-style: none;
    border-style: none;
}
.nav-top{
    padding-top: 20px;
}