.nav-link{
    font-size: 17px;
}

.btn{
    background-color: #ffff;

}

body{
    background-color: #dfdfdf;
}
.jumbotron{
    padding-top: 100px;
}
.background{
    background-color: #ffff;
    top: -70px;
    position: relative;
    box-shadow: 0 0 10px #dfdfdf;
    border-radius: 10px;
    padding-bottom: 20px;
}
.card{
    border-style: none;
    background: transparent;
}
.padding{
    padding-top: 10px;
}
.cardus{
    position: left;
}