.nav-link{
    font-size: 17px;
}

.btn{
    background-color: #ffff;

}

body{
    background-color: #dfdfdf;
}
.navbar{
    margin-top: -40px;
}
.bar{
    margin-top: -39px;
}
.jumbotron{
    padding-bottom: 130px;
}
.jumbo{
    margin-top: 90px;
}